{% extends 'base.html.twig' %}

{% block body %}
<div class="mdl-layout mdl-layout__content">
    <div class="page-content">
        {% block content '' %}
    </div>
</div>

{% include '_partials/footer.html.twig' %}

{% endblock body %}
