{% extends 'base.html.twig' %}

{% block body %}

<style>
.my-layout-transparent {
    background-color: rgba(0, 0, 0, 0.87);
}

.my-layout-transparent .mdl-layout__header,
.my-layout-transparent .mdl-layout__drawer-button{
    color: white;
}

#main-content.mdl-layout__content{
    background-color: rgba(255, 255, 255, 0.87);
}
</style>

<div class="my-layout-transparent mdl-layout mdl-js-layout">
    {% include '_partials/header.html.twig' %}
    {% include '_partials/sidemenu.html.twig' %}
    
    <div id="main-content" class="mdl-layout__content">
        <main>
            {% block content '' %}
        </main>
        
        {% include '_partials/footer.html.twig' %}
    </div>
</div>

{% endblock body %}
