{% extends 'base.html.twig' %}

{% block body %}
    <h1>MyTimeTable</h1>
    <div>
        <p>Users can be found <a href="{{ path('user_index') }}">here</a>.</p>
    </div>
{% endblock %}

{% block stylesheets %}
{% endblock %}
